@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    /* margin-bottom: 6rem; */
  }

  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #profile {
    flex-wrap: wrap;
    gap: 3rem;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .about-img-container {
    width: 250px;
    height: 250px;
    margin: 2rem auto 2rem;
    /* margin: auto; */
  }

  .about-containers {
    margin-top: 0;
  }

  .portfolio-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .form-container-flex {
    flex-direction: column;
  }

  form {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .section__text__p1,
  .profile-greet {
    font-size: 0.8rem;
  }

  .section-title {
    font-size: 2rem;
  }

  /********** ABOUT SECTION *********/
  .about-icon {
    cursor: pointer;
    height: 1.5rem;
  }

  h3 {
    font-size: 0.95rem;
  }

  .about-details-card p {
    font-size: 0.6rem;
  }

  .about-text-container {
    font-size: 0.85rem;
  }

  .about-img-container {
    margin: auto;
    margin-top: 2rem;
    width: 250px;
    height: 250px;
  }

  .about-container-flex {
    flex-wrap: wrap;
    gap: 1rem;
  }

  /* SKILLS SECTION */
  .experience-sub-title {
    font-size: 1.15rem;
  }

  article p {
    font-size: 0.6rem;
  }

  /********** PROFILE SECTION *********/
  #profile {
    height: 50vh;
    margin: 0 0 2.5rem;
    gap: 2.5rem;
  }

  .profile__img-container {
    height: 200px;
    width: 200px;
  }

  #contact {
    height: 40vh;
  }

  .skills-containers {
    flex-direction: column;
  }

  article {
    font-size: 1rem;
  }

  footer {
    height: 32vh;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .btn-container {
    flex-wrap: wrap;
  }

  .nav-links li a {
    font-size: 1rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .about-text-container {
    text-align: center;
  }

  /* PORTFOLIO SECTION */
  .portfolio-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  aside {
    max-width: 100%;
  }
}
